<div class="row">
  <div class="col-centered" style="float: none; margin: 0 auto;max-width: 600px;width: 400px;">
    <h1 class="display-3 text-center">Premium License Plan</h1>
    <hr class="my-4">
  </div>
</div>
<div class="row">
<div class="well" style="float: none; margin: 0 auto;max-width: 600px;width: 460px;">
  <div  class="col-centered" style="float: none; margin: 0 auto;max-width: 600px;width: 400px;"> 
    <div class="card" style="width: 40rem;">
  <div class="card-block">
    <h4 class="card-text lead text-center text-success">$149.99/YR</h4>
  </div>
  <div class="card-block">
  <a href="<%= new_subscription_path(:plan_id => 7) %>" type="button" class="btn btn-success btn-block btn-lg" style="color: white;"><span class="lead"> TRY IT FOR FREE</span></a>
  </div>
  </br>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><span class="glyphicon glyphicon-ok" style="padding-right: 10px;"></span>Free 7 Day Trial</li>
    <li class="list-group-item"><span class="glyphicon glyphicon-ok" style="padding-right: 10px;"></span>Search Lab Notes</li>
    <li class="list-group-item"><span class="glyphicon glyphicon-ok" style="padding-right: 10px;"></span>Cloud Backup & Share</li>
    <li class="list-group-item"><span class="glyphicon glyphicon-ok" style="padding-right: 10px;"></span>Share Notes & Collaborate</li>
    <li class="list-group-item"><span class="glyphicon glyphicon-ok" style="padding-right: 10px;"></span>24 hr Tech Support</li>
     <li class="list-group-item"><span class="glyphicon glyphicon-ok" style="padding-right: 10px;"></span>Free Data Recovery</li>
      <li class="list-group-item"><span class="glyphicon glyphicon-ok" style="padding-right: 10px;"></span>PDF Export</li>
    <li class="list-group-item"><span class="glyphicon glyphicon-ok" style="padding-right: 10px;"></span>Scientific symbols & drawings</li>
    <li class="list-group-item"><span class="glyphicon glyphicon-ok" style="padding-right: 10px;"></span>Present Data and Notes</li>
    <li class="list-group-item"><span class="glyphicon glyphicon-ok" style="padding-right: 10px;"></span>Easy Transition From Paper</li>
  </ul>
</div>
  </div>
</div>
</br>
</div>
