<html>
  <body>
    <p>New Stripe Invoice and App Download: </p>
    <p> Customer: <%= @invoice.customer %></p>
    <p> ID: <%= @invoice.id %> </p>
    <p> Subscription: <%= @invoice.subscription %> </p>
  </body>
</html>