<!doctype html>
<html>
  <body>
    <p>Cancellation Request: </p>
    <p> User: @user.fullname </p>
    <p> email: @user.email </p>
    <p> Braintree ID: @subscription.braintree_id </p>
    <p> Stripe ID: @subscription.stripe_id </p>
    <p> Subscribed on: @subscription.created_at </p> 
  </body>
</html>