<div class="row">
<div class="col-xs-8 col-sm-6 col-lg-4 col-md-5  col-centered" style="float: none; margin: 0 auto;">
<div class="well">
<h1>New Product</h1>

<%= render 'form', product: @product %>

<%= link_to 'Back', products_path %>
</div>
</div>
</div>
