<h1>Download <%= @product.name %></h1>
<p>Thanks for buying "<%= @product.name %>". You can download your purchase by clicking the link below.<
/p>
<p><%= link_to "Download", download_url(guid: @sale.guid) %></p>